// Fonts

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}
@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semilight"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 600;
}

html, body {
  display: flex;
  flex-wrap: wrap;
  font-family: SegoeUI;
  flex-direction: column;
  height: 100vw;
  padding: 0;
  margin: 0;
}

header, footer {
  flex: 0 0 100%;
  position: fixed;
  height: 5rem;
  width: 100%;
  background-color: #fff;
  // z-index: 9999;
}

.site-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 2rem;
  width: 80%;
  margin: 1rem auto;
}

.main-header {
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
}

.main-header-base {
  border: 0.15rem solid black;
  width: 100%;
}

.header-section {
  margin-top: 5rem;
  /* z-index: 1;
  position: relative; */
  background-image: url("./assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
  background-color: #000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0,0,0);
  width: 100%;
  height: 20rem;
}

.header-section-inside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  width: 60%;
  height: 100%;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 65%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 65%, rgba(0,0,0,1) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 65%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.text {
  color: white;
  width: 15%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: col;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.menu-item {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 1rem;
}

.logo {
  display: flex;
  height: 2rem;
  align-items: center;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
}

img.title {
  height: 2rem;
}

.gap-1 {
  gap: 1rem;
}

.v-align-center {
  vertical-align: middle;
}

.v-align-top {
  vertical-align: top;
  align-self: flex-start;
}

.v-align-bottom {
  vertical-align: bottom;
  align-self: flex-end;
}

.icon-rtl {
  padding-right: 1.5rem;
  background: url("./assets/1200px-Google_Magnifying_Glass.svg.png") no-repeat right;
  background-size: 1rem;
}

.pl-5 {
  padding-left: 0.3rem;
}